*{
  outline: none;
}
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.current-prices {
  & .crypto-name {
    &::before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  & #BTC-EUR {
    & .crypto-name {
      &::before {
        background-image: url('../assets/svg/BTC.svg');
      }
    }
  }
  & #ETH-EUR {
    & .crypto-name {
      &::before {
        background-image: url('../assets/svg/ETH.svg');
      }
    }
  }
  & #LTC-EUR {
    & .crypto-name {
      &::before {
        background-image: url('../assets/svg/LTC.svg');
      }
    }
  }
}

#crypto-trades-list, #crypto-closed-trades-list {
  & td.btc-eur {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background-image: url('../assets/svg/BTC.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
  }
  & td.eth-eur {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background-image: url('../assets/svg/ETH.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
  }
  & td.ltc-eur {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background-image: url('../assets/svg/LTC.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
  }
}

#chart-modal {
  .chart-container {
    position: relative;
    .close-chart {
      color: black;
      position: absolute;
      right: 10px;
      top: 0;
      cursor: pointer;
      font-size: 30px;
    }
  }
}


.hide {
  display: none;
}